[Unit]
Description=Automatic CA certs updates for OSG
After=network.target



[Service]
Type=simple
ExecStart=/usr/sbin/osg-ca-certs-updater -a 23 -x 72 -r 30 -q